@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
    --light-gray: #e8e7e7;
    --dark-gray: #b3b3b3;
    --darker-gray: #949493;
    --button-hover: #ea615d;
    --button: #f2403a;
    --gold: #e3c61d;
    --gold-hover: #e9cb1e;
}

::selection {
    background-color: rgb(26 145 90 / 1);
    color: white;
}

/* ============ scrollbar ============= */

body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(8, 8, 8);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid white;
    /* creates padding around scroll thumb */
}

/* =========== end ============= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

/* =============== Navbar =============== */

.logo {
    width: 70px;
}

.Navbar .mynav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 20px;
    height: 8vh;
    width: 70vw;
    padding: 0px 5px;
    transition: all 0.5s ease-in-out;
}

.Navbar ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.Navbar li {
    padding: 0 20px;
}

.nav-items {
    color: var(--light-gray);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}

.Navbar ul li .nav-items:hover {
    color: var(--gold-hover);
    border-bottom: 1px solid var(--gold-hover);
}

.active-navbar {
    top: 1% !important;
    background-color: black;
    padding: 10px 20px !important;
    height: 10vh !important;
}

/* =============== Get Started Button ========== */
.nav-btn {
    width: 150px;
    height: 60px;
    border: 1px solid var(--light-gray);
    color: var(--light-gray);
    border-radius: 1px;
    transition: all 0.3s;
    cursor: pointer;
    background: transparent;
    margin-left: 15px;
    transition: all 0.3s ease-in-out;
    font-size: 1.2em;
    font-weight: 550;
    color: white;
    text-decoration: none;
}

.nav-btn:hover {
    border-radius: 45px;
    background-color: white;
    color: black;
}

/* ================== section-a Home ============== */

.section-a {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000;
    border: 1px solid transparent;
}

.section-a .container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


#myVideo {
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100vh;
    filter: invert(7%);
}

.section-a .container .home-intro {
    text-align: center;
}

.home-intro-title {
    font-size: 13rem;
    color: white;
    font-style: normal;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 200;

}

.home-intro-para {
    color: white;
    width: 800px;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-style: normal;
    font-size: 3.3rem;
}

/* ================= section-b ================ */

.section-b {
    height: 100vh;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: #181616;
}

.section-b .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px;
}

.section-b .sp {
    margin: 100px 0 100px 0;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-style: normal;
    font-size: 3.3rem;
    color: white;
}

.section-b .container .card {
    border: none;
    background-color: transparent;
}

.card img {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card img:hover {
    scale: 1.2;
}

.card .card-body {
    border-top: 2px solid gray;
    color: white;
    opacity: 0.9;
}

/* ================== loop ============== */
#loop {
    display: flex;
    top: 30%;
    height: 10%;
    width: 100%;
    font-size: 50px;
    white-space: nowrap;
    font-family: gilroy;
}

#loop > h1 {
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loop > h1 > span {
    -webkit-text-stroke: 1.2px #ffffff;
    color: transparent;
    font-weight: 500;
}

@keyframes anim {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ================== end ============== */

/* ================ people =========== */

.section-c {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section-c .container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.people {
    height: 700px;
    width: 50%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #181616;
    color: white;
}

.people > h1 {
    font-size: 3.1vw;
    font-weight: 700;
}

.people > h4 {
    font-weight: 600;
    width: 70%;
    opacity: 0.6;
}

.people > button {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
}

.section-c-video {
    height: 700px;
    overflow: hidden;
    position: relative;
}

#people-myvideo {
    position: absolute;
    max-width: 100%;
}

/* =========== about ============= */

.section-d {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-d .about-img {
    background-image: url('assets/images/About.avif');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    position: fixed;
    bottom: -100px;
    z-index: -1;
    filter: grayscale(0.2);
}

.about {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.about-title {
    width: 50%;
    height: 550px;
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-style: normal;
    font-size: 3.3rem;
}

.about-text {
    width: 660px;
    padding: 25px;
}

.about-text p {
    line-height: 40px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1.3rem;
}

/* ===================== footer =============== */
.site-footer {
    background-color: #141414;
    padding: 55px 0 55px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

/* ===================== end =============== */

/* ============== thank you section ========== */

.thank-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
}

.thank-message h1 {
    font-size: 7rem;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 200;
    letter-spacing: 7px;
}

/* ============== end ============= */



/* ================== store ================ */

.store {
    background-color: #181616;
}

.store .store-home-title {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    font-style: normal;
    font-size: 3.3rem;
    letter-spacing: 5px;
    left: 50px;
    top: 30px;
    position: fixed;
}

.store-home-title a {
    color: white;
}

.rolex-logo {
    position: fixed;
    right: 50px;
    top: 30px;
    cursor: pointer;
}

.store .products {
    display: flex;
    flex-direction: column;
}

/* ================== cards ================= */

.products .product img {
    width: 100%;
    object-fit: contain;
    margin-bottom: -110px;
}

.products .product .product-detail {
    position: relative;
    color: white;
    bottom: 160px;
    left: 220px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.3rem;
    cursor: pointer;
    width: fit-content;
}

.product-detail .product-title {
    font-size: 3.5rem;
}

/* ======================= login =============== */

.signin {
    background-color: #181616;
    position: absolute;
    width: 400px;
    background: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.signin .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.signin .content h2 {
    font-size: 2em;
    color: white;
    text-transform: uppercase;
}

.signin .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signin .content .form .inputBox {
    position: relative;
    width: 100%;
}

.signin .content .form .inputBox input {
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.signin .content .form .inputBox i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

.signin .content .form .links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signin .content .form .links a {
    color: #fff;
    text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
    color: white;
    font-weight: 600;
}

.signin .content .form .inputBox input[type="submit"] {
    padding: 10px;
    background: white;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}